@model IEnumerable<Category>

@{
    ViewData["Title"] = "Edit Categories Page";

    int i = 0;
}

<h1 class="center">Category Page</h1>
<br />

<div class="button-container">
    <a href="@Url.Action("Index", "Category")"><input type="button" class="action-button" value="Category List"/></a>
    <a href="@Url.Action("AddCategoryPage", "Category")"><input type="button" class="action-button" value="Add"/></a>
    <input type="button"  class="action-button" value="Edit" disabled/>
    <a href="@Url.Action("DeleteCategoryPage", "Category")"><input type="button" class="action-button" value="Remove"/></a>
</div>

<form method="post">
    <table>
        <tr>
            <th>Id</th>
            <th>Category</th>
        </tr>
        @foreach(var category in Model)
        {
            <tr>
                <td>
                    <p>@category.Id</p>
                    <input type="hidden" name="categories[@i].Id" value="@category.Id" />
                </td>
                <td>
                    <input type="text" name="categories[@(i++)].Name" value="@category.Name" required/>
                </td>
            </tr>
        }
    </table>

    <br />

    <div>
        @if (Model.Any())
        {
            <input type="submit" class="btn-change" value="Submit Changes"/>
        }
        else
        {
            <input type="submit" class="btn-change" value="Submit Changes" disabled/>            
        }
    </div>
</form>
 