@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories List Page";
}

<h1 class="center">Category Page</h1>
<br />

<div class="button-container">
    <input type="button" class="action-button" value="Category List" disabled/>
    <a href="@Url.Action("AddCategoryPage", "Category")"><input type="button" class="action-button" value="Add"/></a>
    <a href="@Url.Action("EditCategoryPage", "Category")"><input type="button" class="action-button" value="Edit"/></a>
    <a href="@Url.Action("RemoveCategoryPage", "Category")"><input type="button" class="action-button" value="Remove"/></a>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>Category</th>
    </tr>
    @foreach(var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
        </tr>
    }
</table>
