@model IEnumerable<Category>

@{
    ViewData["Title"] = "Remove Categories Page";
}

<h1 class="center">Category Page</h1>
<br />

<div class="button-container">
    <a href="@Url.Action("Index", "Category")"><input type="button" class="action-button" value="Category List"/></a>
    <a href="@Url.Action("AddCategoryPage", "Category")"><input type="button" class="action-button" value="Add"/></a>
    <a href="@Url.Action("UpdateCategoryPage", "Category")"><input type="button" class="action-button" value="Edit"/></a>
    <input type="button" class="action-button" value="Remove" disabled/>
</div>

<form method="post">
    <table>
        <tr>
            <th>✔️</th>
            <th>Id</th>
            <th>Category</th>
        </tr>
        @foreach(var category in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="categoryIds" value="@category.Id" />
                </td>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
    </table>

    <br />

    <div>
        <input type="submit" class="btn-change" id="remove-categories" value="Remove Categories" disabled/>
    </div>
</form>


<script>
    const checkboxes = document.querySelectorAll('input[name="categoryIds"]');
    const deleteCategoriesButton = document.querySelector('#remove-categories');

    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            const isChecked = Array.from(checkboxes).some((checkbox) => checkbox.checked);
            deleteCategoriesButton.disabled = !isChecked;
        });
    });
</script>
 